<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-appinfo"
    version="2.1.2">

  <name>AppInfo Plugin</name>
  <description>
    Provides a method `navigator.appinfo.getAppInfo()` that returns application information: the app version, build number (not on WP8) and the app identifier.
  </description>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=2.0.0" />
  </engines>

  <js-module src="www/appinfo.js" name="AppInfo">
    <merges target="navigator.appInfo" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AppInfo">
        <param name="android-package" value="org.scriptotek.appinfo.AppInfo"/>
      </feature>
    </config-file>

    <source-file src="src/android/AppInfo.java" target-dir="src/org/scriptotek/appinfo" />

  </platform>

  <!-- iOS -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="AppInfo">
        <param name="ios-package" value="AppInfo"/>
      </feature>
    </config-file>

    <header-file src="src/ios/AppInfo.h" />
    <source-file src="src/ios/AppInfo.m" />

  </platform>

  <!-- Windows Phone 8 -->
  <platform name="wp8">

    <config-file target="config.xml" parent="/*">
      <feature name="AppInfo">
        <param name="wp-package" value="AppInfo"/>
      </feature>
    </config-file>

    <source-file src="src/wp8/AppInfo.cs" />

  </platform>

  <!-- Windows universal apps (Windows 8.1, Windows Phone 8.1, Windows 8.0) -->
  <platform name="windows">
    
    <js-module src="src/windows/AppInfoProxy.js" name="AppInfoProxy">
      <runs />
    </js-module>

  </platform>

</plugin>
